:root {
    /* Primary */
    --blue: hsl(213, 96%, 18%);
    --purple-blue: hsl(243, 100%, 62%);
    --pastel-blue: hsl(228, 100%, 84%);
    --light-blue: hsl(206, 94%, 87%);
    --red: hsl(354, 84%, 57%);
    /* Neutral */
    --gray: hsl(231, 11%, 63%);
    --light-gray: hsl(229, 24%, 87%);
    --magnolia: hsl(217, 100%, 97%);
    --alabaster: hsl(231, 100%, 99%);
    --white: #fff;
    --black: #000;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.steps {
    background-image: url("./assets/images/bg-sidebar-mobile.svg");
    height: 172px;
    width: 375px;
    background-size: cover;
}

.step {
    border-radius: 50px;
    border: 1px solid var(--magnolia);
    color: var(--magnolia);
    text-align: center;
    padding: 0.25rem 0.75rem;
    margin: 0.5rem 0.5rem 4rem 0.5rem;
}

.step.active {
    background-color: var(--light-blue);
    border: 1px solid var(--light-blue);
    color: var(--blue);
}

form#step1 .form-label {
    color: var(--blue);
    font-size: 14px;
    margin-bottom: 0.25px;
}

form input.form-control {
    padding: 0.5rem 1rem;
    font-size: 15px;
}

form input.form-control:focus {
    box-shadow: none;
    border-color: var(--purple-blue);
}

form .form-control::placeholder {
    color: var(--gray);
}

.btn-navigation {
    padding: 0 2rem;
}

.btns > button {
    padding: 0.5rem 0.9rem;
}

.btn.btn-primary {
    background-color: var(--blue);
    border: none;
}

.btn.btn-secondary {
    background-color: var(--white);
    color: var(--gray);
    border: none;
}

.tab {
    align-self: center;
    background-color: var(--magnolia);
    height: 66vh;
    max-width: 100vw;
}

.tab .card {
    background-color: var(--white);
    max-width: 90%;
    align-self: start;
    margin: 0 auto;
    border: 0;
    position: relative;
    top: -70px;
    border-radius: 12px;
}

.tab .card .card-title {
    color: var(--blue);
    font-size: 24px;
    font-weight: 700;
}

.tab .card .card-body {
    color: var(--gray);
    font-weight: 400;
}

/* STEP 2 */
#step2 div.form-check:hover,
#step3 div.form-check:hover {
    border: 1px solid var(--purple-blue);
}

form#step2 img {
    margin-right: 0.5rem;
}

.tab .card .form-check {
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    padding: 0.65rem 0.75rem
}

.form-check-label {
    color: var(--blue);
    font-weight: 700;
    font-size: 16px;
    width: 100%;
    height: 100%;
}

.tab .form-check.checked {
    border: 1px solid var(--purple-blue);
    background-color: var(--alabaster);
}

.form-check-label .price {
    color: var(--gray);
    font-weight: 400;
    font-size: 14px;
}

.plan-switch {
    /* border: 1px solid var(--light-gray); */
    border-radius: 8px;
    background-color: var(--magnolia);
    height: 48px;
}

.tab .card .form-check.form-switch {
    border: none;
    padding: 0;
    margin: 3px 0px 0 52px;
}

#plan-type.form-check-input {
    /* width: 3em !important; */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='4' fill='white'/%3e%3c/svg%3e") !important;
}

#plan-type.form-check-input,
#plan-type.form-check-input:checked {
    background-color: var(--blue);
    border: 3px solid var(--blue);
}

.plan-switch .form-text {
    font-weight: 700;
    color: var(--gray);
}

.plan-switch .form-text.selected-plan {
    color: var(--blue);
}

input[type="radio"] {
    visibility: hidden;
}

p.yearly-price {
    font-size: 12px;
    font-weight: 400;
}

/* STEP 3 */
form#step3 .form-check-input:checked {
    background-color: var(--purple-blue);
    border-color: 1px solid var(--purple-blue);
}

.form-check-label .addon-desc {
    font-size: 12px;
    font-weight: 400;
    white-space: nowrap;
    color: var(--gray);
}

.form-check-label .addon-name {
    white-space: nowrap;
}

.form-check-label .addon {
    margin-top: 0.75rem;
}

.form-check-label .addon-price {
    color: var(--purple-blue);
    font-size: 12px;
    font-weight: 400;
    text-align: right;
    white-space: nowrap;
}

.total-summary-container {
    background-color: var(--alabaster);
    border-radius: 6px;
}

.total-summary-container .price {
    color: var(--blue);
    text-align: right;
}

.total-summary-container #total-billing-price.price {
    font-weight: 600;
}

.total-summary-container p,
.total-container p {
    font-size: 14px;
    margin-bottom: 0.5rem;
}

p#total-type {
    color: var(--blue);
    font-weight: 700;
}

p#grandtotal-price {
    color: var(--purple-blue);
    font-weight: 700;
    text-align: right;
}

hr {
    margin: 0.75rem 0;
}

label.error {
    color: var(--red);
    font-size: 12px;
    font-weight: 600;
    float: right;
}

input.error {
    border: 1px solid var(--red);
}